:root {
  --color-main: #607ea6;
  --color-secondary: #9ba7bf;
  --color-accent: #23260f;

  --color-background: #f2efdf;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  transition: background-image 1s ease-in-out;
  background-image: url("../attachments/image1.avif");
  animation: BackGroundTransition 25s infinite;
}
@keyframes BackGroundTransition {
  0% {
    background-image: url("../attachments/image1.avif");
    background-size: cover;
  }
  25% {
    background-image: url("../attachments/image2.webp");
    background-size: cover;
  }
  50% {
    background-image: url("../attachments/image3.jpg");
    background-size: cover;
  }
  75% {
    background-image: url("../attachments/image4.webp");
    background-size: cover;
  }
  100% {
    background-image: url("../attachments/image1.avif");
  }
}

h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2.074rem;
}
p {
  font-size: 1.2rem;
}

.title {
  font-family: "Fira Sans", serif;
  font-size: 5rem;

  animation: titleAnim 1s ease-out;
}
@keyframes titleAnim {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.sub-title {
  font-size: 3rem;

  animation: titleAnim 1s ease-out;
}

@keyframes aAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-img {
  width: 300px;

  border-radius: 20px;

  animation: aAnim 2s ease-out;
}

.container {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cycle {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 5px solid var(--color-background);
  border-radius: 20px;
}

.cycle-image {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  animation: fade 9s infinite;
  border-radius: 20px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cycle-image:nth-child(1) {
  opacity: 1;
  animation: fade 9s infinite;
  animation-delay: 0s;
}
.cycle-image:nth-child(2) {
  animation-delay: 3s;
}
.cycle-image:nth-child(3) {
  animation-delay: 6s;
}

.main-link {
  font-size: 1.7rem;

  animation: aAnim 1s ease-in;
  text-decoration: none;

  color: var(--color-background);
  background-color: var(--color-main);

  display: block;

  width: 200px;

  text-align: center;
  margin-top: 15px;

  padding: 20px 10px;

  border-radius: 20px;

  transition: all 0.2s ease-in;
}
.main-link:hover {
  background-color: #48668d;
}
